{{- if .Values.externalSecret }}

# deployment secrets
{{- range $appName, $appConfig := .Values.apps }}

# deployment initcontainer secret
{{- range $initContainerName, $initContainerConfig := $appConfig.initContainers -}}
{{- if $initContainerConfig.secrets }}
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: {{ $initContainerName }}
  labels:
    app: {{ $appName }}
    product: {{ $.Release.Name }}
    {{- with $.Values.labels }}
      {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  refreshInterval: 1m
  secretStoreRef:
    kind: ClusterSecretStore
    name: {{ $.Values.externalSecret.secretStoreName }}
  target:
    name: {{ $initContainerName }}
    creationPolicy: Owner
  {{- if hasKey $initContainerConfig.secrets "data" }}
  data:
  {{- if eq $.Values.externalSecret.type "azure" }}
  {{- range $key, $value := $initContainerConfig.secrets.data  }}
  - secretKey: {{ $key }}
    remoteRef:
      key: {{ $value }}
  {{- end }}
  {{- else }}
  {{- range $secret := $initContainerConfig.secrets.data }}
  - secretKey: {{ $secret.secretKey }}
    remoteRef:
    {{- if eq $.Values.externalSecret.type "gcp" }}
      key: {{ $.Release.Name | upper }}_{{ $secret.secretKey }}
    {{- end }}
    {{- if eq $.Values.externalSecret.type "vault" }}
      key: {{ $.Values.externalSecret.secretPath }}/{{ $.Release.Name }}
      property: {{ $secret.property | default $secret.secretKey }}
    {{- end }}
    {{- if eq $.Values.externalSecret.type "aws" }}
      key: {{ $.Values.externalSecret.secretPath }}/{{ $.Release.Name }}
      property: {{ $secret.property | default $secret.secretKey }}
    {{- end }}
  {{- end }}
  {{- end }}
  {{- end }}
  {{- if hasKey $initContainerConfig.secrets "dataFrom" }}
  dataFrom:
  - extract:
      key: {{ $.Values.externalSecret.secretPath }}/{{ $.Release.Name }}
  {{- end }}
---
{{- end }}
{{- end }}

# deployment container secret
{{- range $containerName, $containerConfig := $appConfig.containers -}}
{{- if $containerConfig.secrets }}
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: {{ $containerName }}
  labels:
    app: {{ $appName }}
    product: {{ $.Release.Name }}
    {{- with $.Values.labels }}
      {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  refreshInterval: 1m
  secretStoreRef:
    kind: ClusterSecretStore
    name: {{ $.Values.externalSecret.secretStoreName }}
  target:
    name: {{ $containerName }}
    creationPolicy: Owner
  {{- if hasKey $containerConfig.secrets "data" }}
  data:
  {{- if eq $.Values.externalSecret.type "azure" }}
  {{- range $key, $value := $containerConfig.secrets.data  }}
  - secretKey: {{ $key }}
    remoteRef:
      key: {{ $value }}
  {{- end }}
  {{- else }}
  {{- range $secret := $containerConfig.secrets.data }}
  - secretKey: {{ $secret.secretKey }}
    remoteRef:
    {{- if eq $.Values.externalSecret.type "gcp" }}
      key: {{ $.Release.Name | upper }}_{{ $secret.secretKey }}
    {{- end }}
    {{- if eq $.Values.externalSecret.type "vault" }}
      key: {{ $.Values.externalSecret.secretPath }}/{{ $.Release.Name }}
      property: {{ $secret.property | default $secret.secretKey }}
    {{- end }}
    {{- if eq $.Values.externalSecret.type "aws" }}
      key: {{ $.Values.externalSecret.secretPath }}/{{ $.Release.Name }}
      property: {{ $secret.property | default $secret.secretKey }}
    {{- end }}
  {{- end }}
  {{- end }}
  {{- end }}
  {{- if hasKey $containerConfig.secrets "dataFrom" }}
  dataFrom:
  - extract:
      key: {{ $.Values.externalSecret.secretPath }}/{{ $.Release.Name }}
  {{- end }}
---
{{- end }}
{{- end }}

# deployment global secret
{{- if $appConfig.secrets }}
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: {{ if $.Values.pr }}{{ $.Release.Name }}-{{ $appName | trimPrefix $.Release.Name | trimPrefix "-" }}{{ else }}{{ $appName }}{{ end }}
  labels:
    app: {{ if $.Values.pr }}{{ $.Release.Name }}-{{ $appName | trimPrefix $.Release.Name | trimPrefix "-" }}{{ else }}{{ $appName }}{{ end }}
    product: {{ $.Release.Name }}
    {{- with $.Values.labels }}
      {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  refreshInterval: {{ $.Values.externalSecret.refreshInterval | default "1m" }}
  secretStoreRef:
    kind: ClusterSecretStore
    name: {{ $.Values.externalSecret.secretStoreName }}
  target:
    name: {{ if $.Values.pr }}{{ $.Release.Name }}-{{ $appName | trimPrefix $.Release.Name | trimPrefix "-" }}{{ else }}{{ $appName }}{{ end }}
    creationPolicy: Owner
  {{- if hasKey $appConfig.secrets "data" }}
  data:
  {{- if eq $.Values.externalSecret.type "azure" }}
  {{- range $key, $value := $appConfig.secrets.data  }}
  - secretKey: {{ $key }}
    remoteRef:
      key: {{ $value }}
  {{- end }}
  {{- else }}
  {{- range $secret := $appConfig.secrets.data }}
  - secretKey: {{ $secret.secretKey }}
    remoteRef:
    {{- if eq $.Values.externalSecret.type "gcp" }}
      key: {{ $.Release.Name | upper }}_{{ $secret.secretKey }}
    {{- end }}
    {{- if eq $.Values.externalSecret.type "vault" }}
      key: {{ $.Values.externalSecret.secretPath }}/{{ $.Release.Name }}
      property: {{ $secret.property | default $secret.secretKey }}
    {{- end }}
    {{- if eq $.Values.externalSecret.type "aws" }}
      key: {{ $.Values.externalSecret.secretPath }}/{{ $.Release.Name }}
      property: {{ $secret.property | default $secret.secretKey }}
    {{- end }}
  {{- end }}
  {{- end }}
  {{- end }}
  {{- if hasKey $appConfig.secrets "dataFrom" }}
  dataFrom:
  - extract:
      key: {{ $.Values.externalSecret.secretPath }}/{{ $.Release.Name }}
  {{- end }}
---
{{- end }}
{{- end }}

# job secret
{{- range $jobName, $jobConfig := .Values.jobs }}
{{- if $jobConfig.secrets }}
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: {{ $jobName }}
  labels:
    app: {{ $jobName }}
    product: {{ $.Release.Name }}
    {{- with $.Values.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  refreshInterval: 1m
  secretStoreRef:
    kind: ClusterSecretStore
    name: {{ $.Values.externalSecret.secretStoreName }}
  target:
    name: {{ $jobName }}
    creationPolicy: Owner
  {{- if hasKey $jobConfig.secrets "data" }}
  data:
  {{- if eq $.Values.externalSecret.type "azure" }}
  {{- range $key, $value := $jobConfig.secrets.data  }}
  - secretKey: {{ $key }}
    remoteRef:
      key: {{ $value }}
  {{- end }}
  {{- else }}
  {{- range $secret := $jobConfig.secrets.data }}
  - secretKey: {{ $secret.secretKey }}
    remoteRef:
      {{- if eq $.Values.externalSecret.type "gcp" }}
      key: {{ $.Release.Name | upper }}_{{ $secret.secretKey }}
      {{- end }}
      {{- if eq $.Values.externalSecret.type "vault" }}
      key: {{ $.Values.externalSecret.secretPath }}/{{ $.Release.Name }}
      property: {{ $secret.property | default $secret.secretKey }}
      {{- end }}
      {{- if eq $.Values.externalSecret.type "aws" }}
      key: {{ $.Values.externalSecret.secretPath }}/{{ $.Release.Name }}
      property: {{ $secret.property | default $secret.secretKey }}
      {{- end }}
  {{- end }}
  {{- end }}
  {{- end }}
  {{- if hasKey $jobConfig.secrets "dataFrom" }}
  dataFrom:
  - extract:
      key: {{ $.Values.externalSecret.secretPath }}/{{ $.Release.Name }}
  {{- end }}
---
{{- end }}
{{- end }}

# global secret
{{- if .Values.secrets }}
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: {{ .Release.Name }}
  labels:
    app: {{ .Release.Name }}
    product: {{ .Release.Name }}
    {{- with $.Values.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  refreshInterval: 1m
  secretStoreRef:
    kind: ClusterSecretStore
    name: {{ $.Values.externalSecret.secretStoreName }}
  target:
    name: {{ .Release.Name }}
    creationPolicy: Owner
  {{- if hasKey .Values.secrets "data" }}
  data:
  {{- if eq $.Values.externalSecret.type "azure" }}
  {{- range $key, $value := .Values.secrets.data  }}
  - secretKey: {{ $key }}
    remoteRef:
      key: {{ $value }}
  {{- end }}
  {{- else }}
  {{- range $secret := .Values.secrets.data }}
  - secretKey: {{ $secret.secretKey }}
    remoteRef:
      {{- if eq $.Values.externalSecret.type "gcp" }}
      key: {{ $.Release.Name | upper }}_{{ $secret.secretKey }}
      {{- end }}
      {{- if eq $.Values.externalSecret.type "vault" }}
      key: {{ $.Values.externalSecret.secretPath }}/{{ $.Release.Name }}
      property: {{ $secret.property | default $secret.secretKey }}
      {{- end }}
      {{- if eq $.Values.externalSecret.type "aws" }}
      key: {{ $.Values.externalSecret.secretPath }}/{{ $.Release.Name }}
      property: {{ $secret.property | default $secret.secretKey }}
      {{- end }}
  {{- end }}
  {{- end }}
  {{- end }}
  {{- if hasKey .Values.secrets "dataFrom" }}
  dataFrom:
  - extract:
      key: {{ $.Values.externalSecret.secretPath }}/{{ $.Release.Name }}
  {{- end }}
---
{{- end }}

# Cronjob secrets
{{- range $cronjobName, $cronjobConfig := .Values.cronjobs -}}
# cronjob init container secret
{{- range $initContainerName, $initContainerConfig := $cronjobConfig.initContainers -}}
{{- if $initContainerConfig.secrets }}
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: {{ $initContainerName }}
  labels:
    app: {{ $cronjobName }}
    product: {{ $.Release.Name }}
    {{- with $.Values.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  refreshInterval: 1m
  secretStoreRef:
    kind: ClusterSecretStore
    name: {{ $.Values.externalSecret.secretStoreName }}
  target:
    name: {{ $initContainerName }}
    creationPolicy: Owner
  {{- if hasKey $initContainerConfig.secrets "data" }}
  data:
  {{- if eq $.Values.externalSecret.type "azure" }}
  {{- range $key, $value := $initContainerConfig.secrets.data  }}
  - secretKey: {{ $key }}
    remoteRef:
      key: {{ $value }}
  {{- end }}
  {{- else }}
  {{- range $secret := $initContainerConfig.secrets.data }}
  - secretKey: {{ $secret.secretKey }}
    remoteRef:
      {{- if eq $.Values.externalSecret.type "gcp" }}
      key: {{ $.Release.Name | upper }}_{{ $secret.secretKey }}
      {{- end }}
      {{- if eq $.Values.externalSecret.type "vault" }}
      key: {{ $.Values.externalSecret.secretPath }}/{{ $.Release.Name }}
      property: {{ $secret.property | default $secret.secretKey }}
      {{- end }}
      {{- if eq $.Values.externalSecret.type "aws" }}
      key: {{ $.Values.externalSecret.secretPath }}/{{ $.Release.Name }}
      property: {{ $secret.property | default $secret.secretKey }}
      {{- end }}
  {{- end }}
  {{- end }}
  {{- end }}
  {{- if hasKey $initContainerConfig.secrets "dataFrom" }}
  dataFrom:
  - extract:
      key: {{ $.Values.externalSecret.secretPath }}/{{ $.Release.Name }}
  {{- end }}
---
{{- end }}
{{- end }}

# cronjob container secret
{{- range $containerName, $containerConfig := $cronjobConfig.containers -}}
{{- if $containerConfig.secrets }}
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: {{ $containerName }}
  labels:
    app: {{ $cronjobName }}
    product: {{ $.Release.Name }}
    {{- with $.Values.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  refreshInterval: 1m
  secretStoreRef:
    kind: ClusterSecretStore
    name: {{ $.Values.externalSecret.secretStoreName }}
  target:
    name: {{ $containerName }}
    creationPolicy: Owner
  {{- if hasKey $containerConfig.secrets "data" }}
  data:
  {{- if eq $.Values.externalSecret.type "azure" }}
  {{- range $key, $value := $containerConfig.secrets.data  }}
  - secretKey: {{ $key }}
    remoteRef:
      key: {{ $value }}
  {{- end }}
  {{- else }}
  {{- range $secret := $containerConfig.secrets.data }}
  - secretKey: {{ $secret.secretKey }}
    remoteRef:
      {{- if eq $.Values.externalSecret.type "gcp" }}
      key: {{ $.Release.Name | upper }}_{{ $secret.secretKey }}
      {{- end }}
      {{- if eq $.Values.externalSecret.type "vault" }}
      key: {{ $.Values.externalSecret.secretPath }}/{{ $.Release.Name }}
      property: {{ $secret.property | default $secret.secretKey }}
      {{- end }}
      {{- if eq $.Values.externalSecret.type "aws" }}
      key: {{ $.Values.externalSecret.secretPath }}/{{ $.Release.Name }}
      property: {{ $secret.property | default $secret.secretKey }}
      {{- end }}
  {{- end }}
  {{- end }}
  {{- end }}
  {{- if hasKey $containerConfig.secrets "dataFrom" }}
  dataFrom:
  - extract:
      key: {{ $.Values.externalSecret.secretPath }}/{{ $.Release.Name }}
  {{- end }}
---
{{- end }}
{{- end }}

# cronjob global secret
{{- if $cronjobConfig.secrets }}
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: {{ $cronjobName }}
  labels:
    app: {{ $cronjobName }}
    product: {{ $.Release.Name }}
    {{- with $.Values.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  refreshInterval: 1m
  secretStoreRef:
    kind: ClusterSecretStore
    name: {{ $.Values.externalSecret.secretStoreName }}
  target:
    name: {{ $cronjobName }}
    creationPolicy: Owner
  {{- if hasKey $cronjobConfig.secrets "data" }}
  data:
  {{- if eq $.Values.externalSecret.type "azure" }}
  {{- range $key, $value := $cronjobConfig.secrets.data  }}
  - secretKey: {{ $key }}
    remoteRef:
      key: {{ $value }}
  {{- end }}
  {{- else }}
  {{- range $secret := $cronjobConfig.secrets.data }}
  - secretKey: {{ $secret.secretKey }}
    remoteRef:
      {{- if eq $.Values.externalSecret.type "gcp" }}
      key: {{ $.Release.Name | upper }}_{{ $secret.secretKey }}
      {{- end }}
      {{- if eq $.Values.externalSecret.type "vault" }}
      key: {{ $.Values.externalSecret.secretPath }}/{{ $.Release.Name }}
      property: {{ $secret.property | default $secret.secretKey }}
      {{- end }}
      {{- if eq $.Values.externalSecret.type "aws" }}
      key: {{ $.Values.externalSecret.secretPath }}/{{ $.Release.Name }}
      property: {{ $secret.property | default $secret.secretKey }}
      {{- end }}
  {{- end }}
  {{- end }}
  {{- end }}
  {{- if hasKey $cronjobConfig.secrets "dataFrom" }}
  dataFrom:
  - extract:
      key: {{ $.Values.externalSecret.secretPath }}/{{ $.Release.Name }}
  {{- end }}
---
{{- end }}
{{- end }}
{{- end }}